body{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 40px;
    background-color: blueviolet;
}
.c{

    background-color: greenyellow;
    margin:150px;
    padding: 100px;
    border-radius: 5px;
   
  
}

input,select{
    padding: 10px;
    margin: 5px;
}
button{
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

