body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 40px;

    background: rgb(202, 219, 16);
  }
  
  input {
    padding: 10px;
    width: 200px;
  }
  
  button {
    padding: 10px 15px;
    margin-left: 5px;
  }
  
  li {
    margin: 10px;
    list-style: none;
  }
  