body{
    background-color: rgb(136, 136, 218);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
    letter-spacing: 4px;
    
}