body{
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    margin-top:50px;
    background:yellowgreen;

}
#quoteBox{
    width: 400px;
    margin: auto;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background:white;
}

button{
    margin-top: 20px;
    padding: 10px;
    width: 150px;
    background-color: rgb(0, 255, 94);
}