body{
    background-color: cadetblue;
    text-align: center;
    margin-top: 100px;
    font-family: Arial, sans-serif;
    
}
h3{
    font-size:50px;
    margin:20px;
    

    

}
button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 18px;
  }