body{
    background-color: cadetblue;
    text-align: center;
    margin-top: 100px;
    font-family: Arial, sans-serif;
    
}
.display{
    font-size:100px;
    margin-bottom:20px;
    
    

}
button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 18px;
  }